header
    background-color: #212529
    position: fixed
    z-index: 1
    width: 100%
    padding: 5px 0 10px
    .menu
        .imgbox
            width: 60px
        nav
            margin-top: 15px
            a
                font-size: 18px
                color: #fff
                margin: 20px 18px 50px
                &:hover
                        cursor: pointer
                        color: #ff0404
