#math
    background-image: url("assets/bg-img-math.jpeg")
    background-position: center
    background-size: cover
    height: 830px
    .textbox
        h1
            font-size: 60px
            font-weight: 700
            color: #0088ff
            margin-top: 10px
        h2
            font-size: 45px
            font-weight: 700
            color: #0088ff
            padding: 30px
    .btn
        font-size: 25px
        font-weight: 700
        border: 1px solid #0088ff
        border-radius: 10px
        padding: 10px 30px
        max-width: 265px
        text-align: center
        background-color: #fff 
        margin-bottom: 25px
        &:hover
            cursor: pointer
            background-color: #0088ff
    input
        display: flex
        align-items: center
        margin: 20px 0
        padding: 10px 15px 15px 20px
        border-radius: 5px
        font-size: 25px
        background-color: #fff
        border: 1px solid #0088ff
        max-width: 300px
    .minibox
        border: 1px solid #0088ff
        border-radius: 10px
        background-color: #e9e7e7
        min-width: 252px
        max-width: 252px
        min-height: 150px
        margin: 10px 0
        h1
            display: inline-block
            text-align: center
            font-size: 23px
            margin: 5px
            border: 2px solid #0088ff
            border-radius: 45px
            padding: 10px
